body {
  min-width: 1200px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  text-transform: uppercase;
  background: rgba(255, 255, 255);
  color: #000000;
}
*, 
*::before, 
*::after {
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
}
h2 {
  font-size: 21px;
  color: #000000;
  line-height: 26px;
}
h1 {
  font-size: 30px;
  font-weight: normal;
  color: #000000;
  line-height: 36px;
}
p {
    color: #333333;
}
.container {
  width: 1200px;
  margin: 0 auto;
    padding: 0;
}
.main-header {
    background-color: rgb(255,255,255);
    color: #000000; 
}
nav {
  width: 1170px;
  margin: 0 auto;
}
nav a {
    display: block;
    text-decoration: none;
    color: #000000;
    line-height: 26px;
    font-weight: bold;
}
nav li:first-child a {
    margin-left: 15px;
    padding-left: 43px;
    padding-right: 83px;
    padding-top: 15px;
    padding-bottom: 15px;
}
nav li:nth-child(2) a {
    padding-left: 63px;
    padding-right: 74px;
    padding-top: 15px;
    padding-bottom: 15px;
}
nav li:nth-child(4) a {
    margin-left: 235px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 83px;
    padding-right: 66px;
}
nav li:nth-child(5) a {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 100px;
    padding-right: 52px;
}
nav ul {
    position: relative;
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 0;
}
nav li:nth-child(3) {
    position: absolute;
    top:0;
    right:517px;
}
nav a:hover {
    color: #81b3d2;
}
nav a:active {
    color: #000000;
    opacity: 0.3;
}
.page-header{
  background-color: rgb(255,255,255);
}
nav li {
  display: inline-block;
  vertical-align: top;
    font-size: 14px;
    line-height: 26px;
}
.page-header .current {
    color: #766357;
}
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
.index-logo {
    background-image: url("../img/intro-bg.jpg");
    min-height: 508px;
}
.index-logo-text {
  padding-top: 75px;
  margin-left: auto;
  margin-right: auto;
  width: 460px;
  height: 352px;
  margin-bottom: 24px;
}
.index-logo-footer {
  width: 1200px;
  height: 57px;
  padding-top: 75px;  
  margin-right: auto;
  margin-left: auto;
}
.intro {
  width: 705px;
  min-height: 100px;
  margin-right: auto;
  margin-left: auto;
}
.intro h2 {
    margin: 0;
    padding-top: 60px;
    padding-left: 132px;
    padding-right: 132px;
    text-align: center;
    font-weight: bold;
}
.intro p {
    margin: 0;
    padding-left: 105px;
    padding-right: 108px;
    padding-top: 35px;
    padding-bottom: 43px;
    margin: 0;
    line-height: 26px;
    text-align: center;
}
.poster {
  width: 1200px;
  min-height: 256px;
  margin: 0 auto;
  background-color: darksalmon;
  margin-bottom: 58px;
}
.poster2 {
  width: 1200px;
  min-height: 256px;
  margin: 0 auto;
  background-color: darksalmon;
}
.poster-pic {
    height: 256px;
}
.poster2-pic {
  float: left;
  height: 256px;
}
.poster2-text {
  float: right;
  width: 400px;
  min-height: 256px;
  background-color: rgb(129, 179, 210);
}
.poster-text {
  float: left;
  width: 400px;
  min-height: 256px;
  background-color: rgb(129, 179, 210);
}
.poster-text h2 {
    margin: 0;
    padding-left: 140px;
    padding-right: 138px;
    padding-top: 55px;
    line-height: 21px;
    text-align: center;
    color:#ffffff;
    font-weight: 500;
}
.poster2-text h2 {
    margin: 0;
    padding-top: 55px;
    line-height: 21px;
    text-align: center;
    color:#ffffff;
    font-weight: 500;
}
.poster-text p, 
.poster2-text p {
    margin: 0;
    text-align: center;
    color: #ffffff;

}
.info-text-number {
    padding-top: 25px;
    padding-bottom: 25px;
}
.poster-text .info-text {
    padding-left: 60px;
    padding-right: 59px;
}
.features {
  font-size: 0;
  width: 1200px;
  min-height: 190px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 78px;
}
.features-item {
  font-size: 14px;
  display: inline-block;
  width: 400px;
  vertical-align: top;
}
.features-item-icon {
    text-align: center;
    height: 76px;
}
.features-item:nth-child(3) .features-item-icon  {
    margin-top:-4px;
    margin-bottom: 4px;
}

.features-item h2 {
    padding: 0;
    padding-top: 30px;
    line-height: 21px;
    margin: 0;
    font-weight: 700;
    text-align: center;
}
.features-item p, .fact-list-item p {
    margin: 0;
    padding: 0;
    padding-top: 25px;
    text-align: center;
    color: #333333;
}
.fact {
  font-size: 0;
  width: 1200px;
  margin-right: auto;
  margin-left: auto;
  background-color: rgb(238, 238, 238);
}
.fact ul {
    padding: 0;
    margin: 0;
    text-decoration: none;
}
.fact-list-item {
  font-size: 14px;
  display: inline-block;
  width: 400px;
  vertical-align: top;
}
.fact-list-item h2 {
    
    margin: 0;
    padding: 0;
    padding-top: 45px;
    line-height: 21px;
    text-align: center
}
.fact-list-item p:nth-child(3) {
    padding-bottom: 55px;
}
.booking-scene-header {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(255, 255, 255);
}
.booking-scene-header h2 {
    margin: 0;
    padding: 0;
    padding-top: 55px;
    text-align: center;
    font-size: 30px;
    line-height: 24px;
    font-weight: 700;
}
.booking-scene-header p {
    margin: 0;
    padding: 0;
    padding-top: 25px;
    padding-bottom: 137px;
    line-height: 24px;
    text-align: center;
    
}
.booking-scene-map {
  margin-left: auto;
  margin-right: auto;
  height: 593px;
  background: url("../img/map2.png");
}

.main-footer, 
.page-footer {
  min-height: 120px;
}

.main-footer .container {
  position: relative;
  z-index: 1;
  margin-top: -120px;
  padding-top: 35px;
  width: 1200px;
  padding-bottom: 36px;
  background: rgba(249, 251, 246, 0.8)
}
.page-footer .container {
  padding-top: 35px;
  width: 1200px;
  background-color: rgb(254,254,254);
}
.main-footer-hashtag, 
.page-footer-hashtag {
  float: left;
  margin: 0;
  padding: 0;
  margin-right: 252px;
  padding-top: 13px;
  margin-left: 133px;
  min-width: 140px;
}
.main-footer-hashtag span,
.page-footer-hashtag span{
    font-size: 21px;
    line-height: 26px;
    font-weight: 700
}
.main-footer-social, 
.page-footer-social {
  float: left;
  min-width: 150px;
  min-height: 55px;
}

.main-footer-copyright, 
.page-footer-copyright {
  position: relative;
    float: right;
    margin-right: 102px;
  margin-top: 5px;
  min-width:  110px;
  min-height: 43px;
}
.copyright-btn {
    display: inline-block;
    width: 115px;
    height: 39px;
    font-size: 0;
    text-decoration: none;
    color: #000000;
    background: url("../img/copyright.png") no-repeat;
}
.copyright-btn::before {
    position: relative;
    left:-80px;
    top: 5px;
    content: "website by";
    font-size: 14px;
    line-height: 26px;
}
.copyright-btn:hover {
    background: url("../img/copyright-hover.png") no-repeat;
}
.copyright-btn:active {
    background: url("../img/copyright-active.png") no-repeat;
}
.social-btn {
    display: inline-block;
    font-size: 0;
    width: 45px;
    height: 48px;
    margin: 0 2px;
    text-decoration: none;
    background: rgb(129, 179, 210) url("../img/social-sprite.png") no-repeat center;
}
.social-btn-tv { 
    background-position: -80px 0px;
}
.social-btn-fb {
    background-position: 3px -3px;
}
.social-btn-yt {
    background-position: -227px 0px;
}
.social-btn:hover {
    background-color: rgb(102, 158, 192);
}
.social-btn-tv:active {
    background-color: rgb(84, 150, 189);
    background-position: -127px 0px;
}
.social-btn-fb:active {
    background-color: rgb(84, 150, 189);
    background-position: -37px -3px;
}
.social-btn-yt:active {
    background-color: rgb(84, 150, 189);
    background-position: -177px 0px;
}
.filters {
  padding-top: 25px;
  padding-bottom: 21px;
  background: #778899 url("../img/rock-blur.jpg") no-repeat;
}
.filters-checkbox ul{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
.filters fieldset {
    border: 0;
}
.filters-checkbox {
  float: left;
  width: 150px;
  margin-right: 103px;
}
.filters-checkbox:first-child {
  margin-left: 72px;
}
.filters-checkbox legend {
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 21px;
    font-weight: 700;
    color: #ffffff;
}

.filters-checkbox label {
    color: #ffffff;
}
.filters-checkbox li {
    padding-top: 24px;
}
.filters-checkbox input[type="checkbox"] {
    display: none;
}
.filters-checkbox input[type="checkbox"] + label {
    display: block;
    line-height: 21px;
    padding-left: 43px;
    position: relative;
    cursor: pointer;
}
.filters-checkbox input[type="checkbox"] + label::before {
    content: "";
    display: block;
    width: 23px;
    height: 22px;
    background: url("../img/check-empty.png") no-repeat;
    position: absolute;
    top: 0;
    left: 0;
}
.filters-checkbox input[type="checkbox"]:checked + label::before {
    content: "";
    display: block;
    width: 22px;
    height: 22px;
    background: url("../img/check.png") no-repeat;
    position: absolute;
    top: 0;
    left: 0;
}
.filters-checkbox input[type="checkbox"]:disabled + label::before {
    content: "";
    display: block;
    width: 22px;
    height: 22px;
    background: url("../img/check-disabled.png") no-repeat;
    position: absolute;
    top: 0;
    left: 0;
}
.filter-range {
    float: right;
    margin-right: 72px;
    width: 330px;
    color: #ffffff;
}
.filter-range-title {
    margin-bottom: 9px;
    font-size: 16px;
    line-height: 21px;
    font-weight: 600;
}
.price-controls {
    box-sizing: content-box;
    position: relative;
    height: 36px;
    margin-bottom: 20px;
    border: 2px solid #ffffff;
    border-radius: 2px;
    font-size: 0;
}
.price-controls:after {
    content: "";
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    width: 2px;
    height: 22px;
    
    background: #ffffff;
}
.price-controls label {
    display: inline-block;
    font-size: 14px;
    line-height: 38px;
    vertical-align: top;
    cursor: pointer;
}
.price-controls .min-price,
.price-controls .max-price {
    padding-left: 65px;
}
.price-controls .min-price {
    margin-right: 10px;
}
.price-controls input {
    width: 50px;
    margin: 0;
    color: inherit;
    font: inherit;
    background: none;
    border: none;
    outline: none;
}
.range-controls {
    position: relative;
    margin-bottom: 32px;
}
.range-controls .scale {
    height: 2px;
    background: rgba(255, 255, 255, 0.3);
}
.range-controls .bar {
    width: 80%;
    height: 2px;
    background: #ffffff;
}
.range-toggle {
    position: absolute;
    box-sizing: content-box;
    top: -9px;
    width: 4px;
    height: 4px;
    background: #ababab;
    border: 8px solid #ffffff;
    border-radius: 50%;
    box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
    cursor: pointer;
}
.range-toggle-min {
    left: 0;
}
.range-toggle-max {
    left: 80%;
}
.range-toggle:hover {
    background: #1c4f80;
}
.btn-transparent {
    display: block;
    margin: 0 auto;
    box-sizing: content-box;
    padding: 6px 35px;
    
    font-size: 14px;
    line-height: 20px;
    text-transform: uppercase;
    
    color: inherit;
    background: transparent;
    border: 2px solid #ffffff;
    border-radius: 2px;
    outline: none;
    cursor: pointer;
}
.btn-transparent:hover {
    color: #000000;
    background: rgb(255, 255, 255); 
}
.result-header {
  min-height: 86px;
  padding-top: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid rgb(249,249,249);
  background-color:   rgb(254,254,254);
}
.result-header h2{
    display: inline-block;
    margin: 0;
    padding: 0;
    padding-left: 73px;
    padding-right: 50px;
}
.result-header p {
    display: inline-block;
    margin: 0;
    padding: 0;
    padding-right: 39px;
    font-size: 12px;
    line-height: 18px
}

.result-header-sort-list {
  display: inline-block;
  width: auto;
}
.result-header ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.sort-list-item {
  display: inline-block;
  padding-right: 35px;
  width: auto;
}
.result-header-sort-list a:not(.price-current){
    text-decoration: none;
    font-size: 12px;
    line-height: 18px;
    color: rgba(0, 0, 0,0.3);
    border-bottom: 1px dashed #81b3d2;
}

.result-header-sort-list a:hover:not(.price-current) {
    color: #81b3d2;
}
.result-header-sort-list a:active:not(.price-current) {
    color: #000000;
    border: 0;
}
.price-current {
    color: #81b3d2;
    font-size: 12px;
    line-height: 18px;
}
.result-header-arrow {
  float: right; 
  padding-right: 73px;
    padding-top: 5px;
}
.arrow-up, 
.arrow-down {
   display: inline-block;
    width: 11px;
    height: 10px;
   font-size: 0;
    vertical-align: bottom;
   background-image: url(../img/arrow-sprite.png);
   background-repeat: no-repeat;
}
.arrow-up {
    background-position: -165px -10px;
    margin-right: 10px;
}
.arrow-up:hover {
    background-position: -41px -10px;
}
.arrow-up:active {
    background-position: -103px -10px;
}
.arrow-down {
    background-position: -134px -10px;
}
.arrow-down:hover {
    background-position: -10px -10px;
}
.arrow-down:active {
    background-position: -72px -10px;
}
.result-find {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: yellow;
  border-bottom: 1px solid rgb(249,249,249);
  background-color:   rgb(254,254,254);
}
.result-find h2{
    margin: 0;
    padding: 0;
    min-width: 250px;
    vertical-align: top;
    line-height: 20px;
}
.result-find h2:hover {
    color: #81b3d2
}
.result-find h2:active {
    color: rgba(0, 0, 0, 0.3);
}
.result-find-pic {
  height: 90px;
  width: 135px;
  margin-left: 73px;
  margin-right: 30px;
  float: left;
}
.result-find-info {
  float:left;
  width: 300px;
    max-height: 90px;
}
.info-title-text, 
.info-subtitle-text {
  display: inline-block;
}
.info-subtitle-text {
    margin: 0;
    padding: 0;
    width:109px;
    padding-top: 5px;
    text-align: left;
}
.info-btn {
    display: inline-block;
    margin-top: 12px;
    margin-right: 5px;
    padding: 5px 16px;
    text-decoration: none;
    color: #ffffff;
    font-weight: 700;
    text-align: center;
}
.details {
    background: rgb(129, 179, 210);
}
.details:hover {
    background: #669ec0;
}
.details:active {
   background:  #5496bd;
   color: rgba(255, 255, 255, 0.3);
}
.booking {
  background: rgb(118, 99, 87);
}
.booking:hover {
    background: #604e43;
}
.booking:active {
    background:  #503e33;
    color: rgba(255, 255, 255, 0.3);
}
.raiting-field p {
    display: inline-block;
    margin: 0;
    padding: 0;
    padding: 5px 9px;
    background: rgb(242, 242, 242);
}
.result-find-raiting {
  margin-right: 70px;
  float: right;
  text-align: right;
    
}
.raiting-stars {
  margin-bottom: 36px;
}
.modal-content {
    position: absolute;
    width: 568px;
    min-height: 481px;
    background: #ffffff;
    left: 50%;
    margin-left: -284px;
    bottom: -1730px;
    color: #000000;
}
.modal-content-title {
    padding-top: 30px;
    padding-bottom: 31px;
    font-size: 21px;
    line-height: 26px;
    font-weight: ;
    background: #766357;
    color: #ffffff;
    text-align: center;
    font-weight: 600;
}
.modal-content-form {
    padding-left: 55px;
    padding-top: 55px;
    padding-bottom: 53px;
}
.modal-content-form label{
    color: #000000;
    font-size: 14px;
    line-height: 26px;
    font-weight: 600;
    cursor: pointer;
}
.modal-content-form input {
    background: #f2f2f2;
    border: none;
}
.arrive-field input, 
.depart-field input {
    position: relative;
    padding-left: 12px;
    padding-right: 40px;
    font-family: inherit;
    font-size: 14px;
    line-height: 26px;
    font-weight: 600;
    text-transform: uppercase;
    width: 346px;
    line-height: 38px;
}
.arrive-field input::-webkit-input-placeholder, 
.depart-field input::-webkit-input-placeholder {
    color: #000000;
}
.arrive-field input::-moz-placeholder, 
.depart-field input::-moz-placeholder {
    color: #000000;
}
.arrive-field input {
    margin-left: 22px;
    margin-bottom: 29px;
}
.depart-field input {
    margin-left: 18px;
    margin-bottom: 30px;
}
.people-count-field input {
    position: relative;
    width: 115px;
    padding-left: 40px;
    padding-right: 40px;
    font-family: inherit;
    text-align: center;
    font-size: 14px;
    line-height: 26px;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 38px;
}
.count-adult input {
    margin-left: 38px;
}
.count-child {
    margin-left: 54px;
}
.count-child input {
   margin-left: 17px; 
}
.calendar {
    width: 23px;
    height: 23px;
    border: none;
    background: url(../img/calendar-sprite.png) no-repeat;
    background-position: -117px -15px;
    cursor: pointer;
}
.calendar-arrive {
    position: absolute;
    right: 60px;
    top: 150px;
}
.calendar-departure {
    position: absolute;
    right: 60px;
    top: 220px;
}
.calendar-departure:hover,
.calendar-arrive:hover {
    background-position: -15px -15px;
}
.calendar-departure:active,
.calendar-arrive:active {
    background-position: -66px -15px;
}
.icon {
    width: 13px;
    height: 13px;
    background: url(../img/plus-minus-sprite.png) no-repeat; 
    border: none;
    cursor: pointer;
}
.icon-minus {
    background-position: -74px -5px;
}
.icon-plus {
    background-position: -167px -9px;
}
.count-adult  .icon-minus {
    position: absolute;
    top: 295px;
    left: 180px;
    z-index: 1;
}
.count-adult  .icon-plus {
    position: absolute;
    top: 295px;
    left: 260px;
}
.count-child .icon-minus {
    position: absolute;
    top: 295px;
    left: 410px;
    z-index: 1;
}
.count-child .icon-plus {
    position: absolute;
    top: 295px;
    left: 491px;
}
.icon-minus:hover {
    background-position: -10px -5px;
}
.icon-minus:active {
    background-position: -42px -5px;
}
.icon-plus:hover {
    background-position: -106px -9px;
}
.icon-plus:active {
    background-position: -137px -9px;
}
.modal-content-form .search-btn {
    display: block;
    width: 458px;
    background: red;
    margin-top: 54px;
    padding: 18px;
    font-size: 21px;
    line-height: 26px;
    font-weight: 600;
    cursor: pointer;
    font-family: inherit;
    color: #ffffff;
    text-transform: inherit;
    background: #81b3d2;
}
.modal-content-form .search-btn:hover {
    background: #669ec0;
}
.modal-content-form .search-btn:active {
    background: #5496bd;
    color: rgba(255, 255, 255, 0.3);
}
